.chatBody {
  flex: 1;
  background-image: url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}

.chatBody__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chatBody__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chatBody__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
