.chatFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chatFooter > form {
  flex: 1;
  display: flex;
}

.chatFooter > form > input {
  flex: 1;
  outline-width: 0;
  outline-width: 0;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.chatFooter > form > button {
  display: none;
}

.chatFooter > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
